* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    background-color: rgb(48, 48, 48);
    color: #d4d4d4;
}

header,
main,
footer {
    max-width: 700px;
    margin: 0 auto;
}

nav {
position: fixed;
top:0;
width: 100%;
display: flex;
flex-flow: row;
justify-content: center;
Background: #d4d4d4;
}

nav a{
    text-decoration: none;
    color: black;
    padding: .2rem 3rem;
}

nav a:hover{
    background:#fcfcfc;
}

@media (max-width: 750px){
nav::before {
    content: 'SHOW MENU';
    color: black;
    background: #d4d4d4;
    padding: 0.5em 2em;
}
nav a {
  display: none;
}
nav {
  justify-content: left;
  flex-flow: column;
}
nav.open a {
  display: block;
}
nav.open::before {
  content: 'HIDE MENU';
}
}

header h1 {
    padding: 5rem 0;
}

header {
    font-size: 2rem;
}

section {
    margin: 1rem 0;
    padding-top: 2.5rem;
    min-height: 1rem;
}

section > p {
    margin: 1rem;
}

section ul {
    padding-left: 1.5em;
}

#projects {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: auto;
    padding-bottom: 2em;
    width: 100%;
}

#projects article {
    background-color:#d4d4d4;
    color: black;
    padding: 1rem
}

#projects article img {
    width: 100%;
    object-fit: cover;
    width: 300px;
    height: 337px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  font-weight: bold;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #ccc;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

#me {
    width: 100%;
    object-fit: cover;
    width: 300px;
    height: 337px;
}

footer {
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
    color: white;
}

.project-slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    height: 250px;
  }

.project-slideshow-container img {
    width: 500px;
    height: 250px;
}
  
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  span.live{
    color: blue
  }
  
  .modal-open #backdrop {
    display: flex;
  }
  
  #modal {
    width: 80vw;
    height: 80vh;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #333;
    color: black;
  }
  
  #modal h4 {
    float: left;
  }
  
  #modal button {
    float: right;
  
    background: #eee;
    padding: 5px 10px;
    border: 0;
    border-radius: 3px;
  
    cursor: pointer;
  }
  
  #modal button:hover {
    color: #fff;
    background: #999;
  }
  
  #modal #modal-content {
    clear: both;
    padding-top: 1em;
  }

  #backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
}